[Interface]
PrivateKey = <your-mullvad-private-key>
Address = 10.x.x.x/32, fc00:bbbb:bbbb:bb01::x:xxxx/128
DNS = 10.64.0.1

[Peer]
PublicKey = <mullvad-server-pubkey>
AllowedIPs = 0.0.0.0/0, ::/0
Endpoint = <server-ip>:51820
